<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Portfolio"
	indexPageName="portfolio.html"
	useFlickr="false"

>
  <image imageURL="images/LRM_0133.jpg"
	thumbURL="thumbs/LRM_0133.jpg"
	linkURL="images/LRM_0133.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\LRM_0133.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_0058.jpg"
	thumbURL="thumbs/_MG_0058.jpg"
	linkURL="images/_MG_0058.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_0058.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_0063.jpg"
	thumbURL="thumbs/_MG_0063.jpg"
	linkURL="images/_MG_0063.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_0063.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_1009.jpg"
	thumbURL="thumbs/_MG_1009.jpg"
	linkURL="images/_MG_1009.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_1009.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_0124.jpeg"
	thumbURL="thumbs/_MG_0124.jpeg"
	linkURL="images/_MG_0124.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_0124.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_0273.jpg"
	thumbURL="thumbs/_MG_0273.jpg"
	linkURL="images/_MG_0273.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_0273.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_0290.jpg"
	thumbURL="thumbs/_MG_0290.jpg"
	linkURL="images/_MG_0290.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_0290.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_0371.jpeg"
	thumbURL="thumbs/_MG_0371.jpeg"
	linkURL="images/_MG_0371.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_0371.jpeg">
    <title><![CDATA[Bergen Lightrail]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_0482.jpg"
	thumbURL="thumbs/_MG_0482.jpg"
	linkURL="images/_MG_0482.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_0482.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_0490.jpg"
	thumbURL="thumbs/_MG_0490.jpg"
	linkURL="images/_MG_0490.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_0490.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_0552.jpg"
	thumbURL="thumbs/_MG_0552.jpg"
	linkURL="images/_MG_0552.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_0552.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_0559.jpg"
	thumbURL="thumbs/_MG_0559.jpg"
	linkURL="images/_MG_0559.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_0559.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_0587.jpg"
	thumbURL="thumbs/_MG_0587.jpg"
	linkURL="images/_MG_0587.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_0587.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_0806.jpeg"
	thumbURL="thumbs/_MG_0806.jpeg"
	linkURL="images/_MG_0806.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_0806.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_1030.jpg"
	thumbURL="thumbs/_MG_1030.jpg"
	linkURL="images/_MG_1030.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_1030.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_1031.jpg"
	thumbURL="thumbs/_MG_1031.jpg"
	linkURL="images/_MG_1031.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_1031.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_1048.jpg"
	thumbURL="thumbs/_MG_1048.jpg"
	linkURL="images/_MG_1048.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_1048.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_1066.jpg"
	thumbURL="thumbs/_MG_1066.jpg"
	linkURL="images/_MG_1066.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_1066.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_1072.jpg"
	thumbURL="thumbs/_MG_1072.jpg"
	linkURL="images/_MG_1072.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_1072.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_1107.jpg"
	thumbURL="thumbs/_MG_1107.jpg"
	linkURL="images/_MG_1107.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_1107.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_1115.jpg"
	thumbURL="thumbs/_MG_1115.jpg"
	linkURL="images/_MG_1115.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_1115.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_1141.jpg"
	thumbURL="thumbs/_MG_1141.jpg"
	linkURL="images/_MG_1141.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_1141.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_8899.jpg"
	thumbURL="thumbs/_MG_8899.jpg"
	linkURL="images/_MG_8899.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_8899.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_8909.jpg"
	thumbURL="thumbs/_MG_8909.jpg"
	linkURL="images/_MG_8909.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_8909.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_8987.jpg"
	thumbURL="thumbs/_MG_8987.jpg"
	linkURL="images/_MG_8987.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_8987.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/D2389F99-385F-4762-A18E-8671D62EDA70.jpg"
	thumbURL="thumbs/D2389F99-385F-4762-A18E-8671D62EDA70.jpg"
	linkURL="images/D2389F99-385F-4762-A18E-8671D62EDA70.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\D2389F99-385F-4762-A18E-8671D62EDA70.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_9020.jpg"
	thumbURL="thumbs/_MG_9020.jpg"
	linkURL="images/_MG_9020.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_9020.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_9022.jpg"
	thumbURL="thumbs/_MG_9022.jpg"
	linkURL="images/_MG_9022.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_9022.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/_MG_9218.jpg"
	thumbURL="thumbs/_MG_9218.jpg"
	linkURL="images/_MG_9218.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\_MG_9218.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/7516829376__MG_9890.jpg"
	thumbURL="thumbs/7516829376__MG_9890.jpg"
	linkURL="images/7516829376__MG_9890.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\7516829376__MG_9890.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/7516831056__MG_0030.jpg"
	thumbURL="thumbs/7516831056__MG_0030.jpg"
	linkURL="images/7516831056__MG_0030.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\7516831056__MG_0030.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/7583945760__MG_0218.jpg"
	thumbURL="thumbs/7583945760__MG_0218.jpg"
	linkURL="images/7583945760__MG_0218.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\7583945760__MG_0218.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/AB55B24565C4CA53FEFEF9E5313DE884.jpeg"
	thumbURL="thumbs/AB55B24565C4CA53FEFEF9E5313DE884.jpeg"
	linkURL="images/AB55B24565C4CA53FEFEF9E5313DE884.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\AB55B24565C4CA53FEFEF9E5313DE884.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DJI_0232.jpeg"
	thumbURL="thumbs/DJI_0232.jpeg"
	linkURL="images/DJI_0232.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\DJI_0232.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DJI_0234.jpeg"
	thumbURL="thumbs/DJI_0234.jpeg"
	linkURL="images/DJI_0234.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\DJI_0234.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0044.jpeg"
	thumbURL="thumbs/IMG_0044.jpeg"
	linkURL="images/IMG_0044.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_0044.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0066.jpeg"
	thumbURL="thumbs/IMG_0066.jpeg"
	linkURL="images/IMG_0066.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_0066.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0073.jpeg"
	thumbURL="thumbs/IMG_0073.jpeg"
	linkURL="images/IMG_0073.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_0073.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1241.jpg"
	thumbURL="thumbs/IMG_1241.jpg"
	linkURL="images/IMG_1241.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_1241.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0789.jpeg"
	thumbURL="thumbs/IMG_0789.jpeg"
	linkURL="images/IMG_0789.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_0789.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0803.jpeg"
	thumbURL="thumbs/IMG_0803.jpeg"
	linkURL="images/IMG_0803.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_0803.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_0944.jpeg"
	thumbURL="thumbs/IMG_0944.jpeg"
	linkURL="images/IMG_0944.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_0944.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1201.jpg"
	thumbURL="thumbs/IMG_1201.jpg"
	linkURL="images/IMG_1201.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_1201.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1239.jpg"
	thumbURL="thumbs/IMG_1239.jpg"
	linkURL="images/IMG_1239.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_1239.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1637.jpeg"
	thumbURL="thumbs/IMG_1637.jpeg"
	linkURL="images/IMG_1637.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_1637.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1760.jpeg"
	thumbURL="thumbs/IMG_1760.jpeg"
	linkURL="images/IMG_1760.jpeg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_1760.jpeg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1776.jpg"
	thumbURL="thumbs/IMG_1776.jpg"
	linkURL="images/IMG_1776.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_1776.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1867.jpg"
	thumbURL="thumbs/IMG_1867.jpg"
	linkURL="images/IMG_1867.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_1867.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_1919.jpg"
	thumbURL="thumbs/IMG_1919.jpg"
	linkURL="images/IMG_1919.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_1919.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/IMG_7520.jpg"
	thumbURL="thumbs/IMG_7520.jpg"
	linkURL="images/IMG_7520.jpg"
	linkTarget="_blank"
	sourcePath="E:\Fotograf Christian Johannessen\nyfotografside\img\IMG_7520.JPG">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>